<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440420819423-m840s6jlka2lqnfavr8l54dssqh6nr2m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440420819423-m840s6jlka2lqnfavr8l54dssqh6nr2m</string>
	<key>API_KEY</key>
	<string>AIzaSyBVl715voZD_WVAKdjxl9d4qYd2vvfB394</string>
	<key>GCM_SENDER_ID</key>
	<string>440420819423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.QuokkaTest</string>
	<key>PROJECT_ID</key>
	<string>quokkotest</string>
	<key>STORAGE_BUCKET</key>
	<string>quokkotest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440420819423:ios:8cd23d4847d821cc0a246a</string>
</dict>
</plist>